$background-color: #282c34;
$lightcoral: lighten(coral, 10%);


$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;
$primary-color: $blue;
$border-color: #dddddd;


// Input
$input-height: 40px;

$small-wrapper: 330px;
